[submodule "godot-cpp"]
	path = godot-cpp
	url = git@github.com:godotengine/godot-cpp.git
	branch = master
	ignore = dirty
[submodule "thirdparty/doomgeneric"]
	path = thirdparty/doomgeneric
	url = https://github.com/ozkl/doomgeneric
