[submodule "godot-cpp"]
	path = godot-cpp
	url = git@github.com:godotengine/godot-cpp.git
	branch = godot-4.0.2-stable
	ignore = dirty
[submodule "thirdparty/doomgeneric"]
	path = thirdparty/doomgeneric
	url = git@github.com:ozkl/doomgeneric.git
